################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VerapathWebsite.slnx/config
/.vs/VerapathWebsite.slnx/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
